@{
    ViewBag.Title = "signup";
 Layout="~/Views/Shared/_Layoutmy.cshtml";
  }

<h2>Sign up</h2>

<html>
	<body>

		<link href="~/Content/style.css" rel="stylesheet" />
		

		<div id="site_content">		
			<div class="container">			
				
			<!-- Features -->
				<div class="row">
					<section class="8u">
						
					 <!-- Banner -->		
					<!--	<div id="banner">
							<a href="#"><img src="~/images/banner.jpg" alt="banner image" /></a>
						</div>						
						-->
						
                        <form>
                       
                         
                        <br>First Name    :<input type="text" name="email   ">
                        <br>last Name     :<input type="text" name="email   ">
                        <br>Email         :<input type="text" name="email   ">

                        <br>Password      :<input type="text" name="password  ">
                            <br>Confirm Password      :<input type="text" name="password  ">
                        <br>country       :<input type="text" name="email   ">
                         
                         
                      <br><span>City</span><select id="Select1" name="name"><option value="1">Lahore</option><option value="2">Karachi</option>
                       <option value="2">Islamabad</option><option value="2">Faisalbad</option><option value="2">Peshawer</option> </select>
                               <p>       </p>
                      </form>
                        
                                            <input type="submit" value=" SUBMIT ">
					</section>

					
					
					
				</div>
		    </div>
		</div>		
		
	</body>
</html>
