@{
    ViewBag.Title = "JobApplication";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    }
<h2>Job Application</h2>

<html>
	<body>
		
		
		<link href="~/Content/style.css" rel="stylesheet" />
		<!--[if lte IE 8]><script src="html5shiv.js" type="text/javascript"></script><![endif]-->
		
		<div id="site_content">		
			<div class="container">			
				
			<!-- Features -->
				<div class="row">
					<section class="8u">
						
					 <!-- Banner -->		
						<div id="banner">
							<a href="#"><img src="~/images/jobb.jpg" alt="banner image" /></a>
						</div>						
						
						
                                            <input type="submit" value="View Application">
					</section>

					
					<section class="4u">
						<div id="sidebar">
							
							
							
						</div>
					</section>
					
				</div>
		    </div>
		</div>		
		
	</body>
</html>
